# HW02
In this assignment, you will learn how to preprocess data using SQLite and Pandas.

Please follow the instructions below:

1. Write down your code between <br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# BEGIN_YOUR_CODE**<br>
&nbsp;&nbsp;&nbsp;&nbsp; and<br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# END_YOUR_CODE**.

2. Do not use **external libraries**. (i.e., Do not use any `import` in your code) <br>
   Your code will fail to execute and get **0 score** if you use them.

3. Rename this file to **[student_id].ipynb** (e.g. 20221234.ipynb) and submit it to PLMS. <br>
   There is **20% penalty** if you do not follow the submission format.

4. Submission more than one day late is not accepted.
   There is **50% penalty** for late submission up to one day.

In [2]:
import sqlite3
import pandas as pd

from typing import List, Tuple

## Problem 1. SQLite and Python [8 points]

### a. Create [1 points]
Implement function `create` that connects a database named `titanic.db` and creates a table named `Company` in it. <br>
The contents of table `Company` are as follow:
   | Employee | Department | Salary | Gender |
   | :-       | :-         | :-     | :-     |
   | John     | sales      | 5000   | M      |
   | Allen    | accounting | 6000   | M      |
   | Martin   | research   | 3500   | M      |
   | Mary     | sales      | 5500   | F      |
   | Smith    | research   | 4500   | M      |

In [140]:
def create() -> None:
    '''
        create() connects a database named |titanic.db| and creates a table |Company| in it.

        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string
        
        The order of data insertion does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()

    c.execute('''CREATE TABLE IF NOT EXISTS Company(
              Employee TEXT,
              Department TEXT,
              Salary INTEGER,
              Gender TEXT
              )''' )
    
    s="INSERT INTO Company VALUES (?, ?, ?, ?)"

    table=[
        ('John','sales',5000,'M'),
        ('Allen','accounting',6000,'M'),
        ('Martin','research',3500,'M'),
        ('Mary','sales',5500,'F'),
        ('Smith','research',4500,'M')
    ]

    c.executemany(s,table)
    db.commit()
    db.close()
    # END_YOUR_CODE

### b. Select 1 [1 points]
Implement function `select1` that fetches all data from table `Titanic` in database `titanic.db`.

In [131]:
def select1() -> List[Tuple[int, str, int, int]]:
    '''
        select1() fetches all data from table |Titatic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, |Name|, |Survived|, |Age| )
            for 1 <= n <= N.

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("SELECT * FROM Titanic")
    

    return c.fetchall()
    # END_YOUR_CODE

### c. Select 2 [2 points]
Implement function `select2` that fetches all data of survivals under the age of 65 from table `Titanic` in database `titanic.db`. <br>
The data shoulbe be arranged in ascending order of age.

In [135]:
def select2() -> List[Tuple[int, str, int, int]]:
    '''
        select2() fetches all data satisfying certain condition from table |Titatic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, |Name|, |Survived|, |Age| ), |Survived| == 1, |Age| < 65
            for 1 <= n <= N.

        The tuples should be arranged in ascending order of |Age|.
        The order of tuples with the same |Age| does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT * FROM Titanic WHERE Survived = 1 AND Age<65
              ORDER BY Age ASC
              """)


    return c.fetchall()
    # END_YOUR_CODE

### d. Select 3 [2 points]
Implement function `select3` that fetches all data from table `Titanic` in database `titanic.db` <br>
and calculates average age of passengers by ticket class.

In [137]:
def select3() -> List[Tuple[int, float]]:
    '''
        select3() fetches all data from table |Titatic| in database |titanic.db|,
            calculates average age by |Pclass|, and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, average |Age| )
            for 1 <= n <= N.

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT T.Pclass, avg(T.Age)
              FROM Titanic T
              GROUP BY T.Pclass
              """)


    return c.fetchall()
    # END_YOUR_CODE

### e. Join [2 points]
Implement function `join` that left-joins two tables `Company` and `Titanic` in database `titanic.db` by name. <br>
In this problem, table `Company` is utilized, which means you should successfully implement function `create` to start this problem.

In [147]:
def join() -> List[Tuple[str, str, int, str, int, str, int, int]]:
    '''
        join() left-joins two tables |Company| and |Titatic| in database |titanic.db|
            and returns them as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Employee|, |Department|, |Salary|, |Gender|, |Pclass|, |Name|, |Survived|, |Age| )
            for 1 <= n <= N.    

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT C.Employee, C.Department, C.Salary, C.Gender, T.Pclass, T.Name, T.Survived, T.Age
              FROM Company C
              LEFT JOIN Titanic T ON C.Employee = T.Name
              """)

    return c.fetchall()
    # END_YOUR_CODE

## Problem 2. SQLite and Pandas [4 points]

### a. from SQLite Database to Pandas Dataframe [2 points]
Implement function `db2df` that converts table `Titanic` in database `titanic.db` into pandas dataframe and saves it in `titanic.csv`.

In [148]:
def db2df() -> None:
    '''
        db2df() converts table |Titanic| in database |titanic.db| into pandas dataframe
            and saves it in |titanic.csv|.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        Columns of the converted dataframe, namely df, should be as follow:
            df.columns == ['Pclass', 'Name', 'Survived', 'Age']

        The order of rows does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT*FROM Titanic
              """)
    result=c.fetchall()
    result=pd.DataFrame(result, columns=['Pclass','Name','Survived','Age'])
    result.to_csv('titanic.csv',index=False)
    c.close()
    # END_YOUR_CODE

### b. from Pandas Dataframe to SQLite Database [2 points]
Implement function `df2db` that converts pandas dataframe read from `titanic2.csv` into table `Titanic2` and saves it in database `titanic.db`.

In [150]:
def df2db() -> None:
    '''
        df2db() converts pandas dataframe read from |titanic2.csv| into table |Titanic2|
            and saves it in |titanic.db|.

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The order of columns and data in table |Titanic2| does not matter.
    '''
    # BEGIN_YOUR_CODE
    df=pd.read_csv('titanic2.csv')
    db=sqlite3.connect('titanic.db')
    df.to_sql('Titanic2',db,if_exists='replace',index=False)
    db.commit()
    db.close()
    # END_YOUR_CODE

## Problem 3. Relational Algebra [8 points]
Connect to database `titanic.db`, execute following relational algebra expression, and return fetched data. <br>
In this problem, tables `Company` and `Titanic2` are utilized, which means you should successfully implement functions `create` and `df2db` to start this problem.

### a. [2 points]
$\pi_{Ticket, Fare}(\sigma_{Fare > 30}(Titanic2))$

In [152]:
def rel_alg1() -> List[Tuple[str, int]]:
    '''
        rel_alg1() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Ticket|, |Fare| )
            for 1 <= n <= N.    

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT Ticket,Fare
              FROM Titanic2
              WHERE Fare>30
              """)
    
    return c.fetchall()
    # END_YOUR_CODE

### b. [3 points]
$\pi_{Name, Survived}(\sigma_{Pclass = 2}(Titanic)) - \pi_{Name, Survived}(\sigma_{Age \ge 20}(Titanic))$

In [154]:
def rel_alg2() -> List[Tuple[str, int]]:
    '''
        rel_alg2() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Name|, |Survived| )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT Name,Survived
              FROM Titanic
              WHERE Pclass = 2
              EXCEPT
              SELECT Name, Survived
              FROM Titanic
              WHERE Age >= 20
              """)
    
    return c.fetchall()
    # END_YOUR_CODE

### c. [3 points]
$\pi_{Employee, Salary, Age}(\sigma_{Employee = Name}(Company \times Titanic))$

In [156]:
def rel_alg3() -> List[Tuple[str, int, int]]:
    '''
        rel_alg3() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Employee|, |Salary|, |Age| )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT C.Employee,C.Salary,T.Age
              FROM Company C,Titanic T
              WHERE C.Employee=T.Name
              """)
    
    return c.fetchall()
    # END_YOUR_CODE

## Problem 4. Complicated SQL Query [10 points]
In this problem, do not just fetch all data from table and use basic python operations to solve the problem. <br>
Only SQL query is allowed.

### a. Complicated Select 1 [3 ponts]
Implement `comp_select1` that counts the number of passengers for each ticket class using table `Titanic` in database `titanic.db`.

In [158]:
def comp_select1() -> List[Tuple[int, int]]:
    '''
        comp_select1() counts the numbers of passengers for each ticket class using table |Titanic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, # of passengers )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT T.Pclass, count(T.Pclass)
              FROM Titanic T
              GROUP BY T.Pclass
              """)
    return c.fetchall()
    # END_YOUR_CODE

### b. Complicated Select 2 [3 ponts]
Implement `comp_select2` that calculates the average age of passengers for each ticket class using table `Titanic` in database `titanic.db` <br>
and finds ticket classes whose average passenger age is under 35.

In [160]:
def comp_select2() -> List[Tuple[int, int]]:
    '''
        comp_select2() calculates the average passenger age for each ticket class using table |Titanic| in database |titanic.db|,
            finds ticket classes whose average passenger age is under 35,
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, average passenger age ), average passenger age < 35
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT T.Pclass, avg(T.Age)
              FROM Titanic T
              GROUP BY T.Pclass
              HAVING avg(T.Age)<35
              """)
    return c.fetchall()
    # END_YOUR_CODE

### c. Complicated Select 3 [4 ponts]
Implement `comp_select3` that finds every pair of survived passengers using table `Titanic` in database `titanic.db`. <br>
For example, if `A`, `B`, `C` and `D` are all survived passengers, `comp_select3` would return `[(A, B), (A, C), (A, D), (B, C), (B, D), (C, D)]`. <br>
The order of tuples in list can be changed.

In [162]:
def comp_select3() -> List[Tuple[str, str]]:
    '''
        comp_select3() finds every pair of survived passengers' names using table |Titanic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Name|_1, |Name|_2 ), |Name|_1 and |Name|_2 are lexicographically ordered
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    db=sqlite3.connect('titanic.db')
    c=db.cursor()
    c.execute("""
              SELECT A.Name, B.Name
              FROM Titanic A
              JOIN Titanic B ON A.Name<B.Name
              WHERE A.Survived=1 AND B.Survived=1
              """)
    return c.fetchall()
    # END_YOUR_CODE